ipykernel==6.29.5
tensorflow==2.17.0
numpy==1.26.4
pandas==2.2.2
tensorboard==2.17.0
scikeras==0.13.0
scikit-learn==1.5.1
scipy==1.14.0
joblib==1.4.2
NLTK==3.8.1
np_utils==0.6.0
transformers
langchain
langchain_community
cohere
pypdf
pymupdf
pypdf
PyPDF2==2.12.1
sentence_transformers
torch
torchvision
tf-keras
faiss-cpu
langchain-groq
streamlit
python-dotenv
langchain-cohere
wikipedia
unstructured
numexpr
langchainhub
tabula-py
tabulate
camelot-py
opencv-python
camelot-py[cv]
python-docx